*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
  pointer-events: none;
}
li{
  list-style: none;
}
button{
  border: none;
  outline: none;
  padding: 5px 5px 5px 5px;
}
input{
  outline: none;
}

.Navbarcontainer{
  width:100%;
  background-color: #ffffff;
  box-shadow: 16px 8px 16px 8px rgb(0,0,0,0.1);
}
.Navchildsearch{
  display:flex;
   justify-content: space-around;
   align-items:center;
   padding:10px 5px 10px 5px;
}
.Navlogo{
  width: 15%;
}
.useroptions{
  display: flex;
  grid-gap: 30px;
  padding-top: 15px;
}
.Navinput input{
  padding: 8px 300px 8px 8px;
  border-radius: 5px;
  border: 1px solid #DDDDDD;
}

.UserAccount{
  display: flex;
  cursor: pointer;
}
.NavAccountText{
  margin-top: -10px;
}
.NavAccount{
font-weight: 600;
margin-top: -5px;
}
.badgecounter{
  position: relative;
  right: 10px;
  top:-5px;
}
.navcart{
 position: relative;
 right: 7px;
}
.Navmenu{
  display: none;
  cursor: pointer;
}

/* Herobanner */
.Herocontainer{
  padding-top: 60px;
}
.Herocategories{
  background: rgba(217, 217, 217, 0.2);
  width: 35%;
}
.Herocategories li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 27px;
}
.categorytxt{
  background-color: #FF1122;
  /* padding: 5px 10px 5px 0px; */
  color: white;
}
.Heroflex{
  display: flex;
  /* justify-content: space-between; */
  grid-gap: 25px;
  justify-content: center;
  align-items: center;
}
.firstImg{
  /* width: 100%;  */
  margin-bottom: 5px;
}

.flashsale{
  /* margin-top: 60px; */
padding: 30px 20px 30px 20px;
  width: 100%;
  background-color: white;
}
.dataimg{
  width: 32%;
}
/* Media Queries */
@media screen and (max-width:578px){
  .Navmenu{
  display: block;
  z-index: 1;
  }
.Navlogo{
  width: 40%;
}
.Navchildsearch{
  display: block;
  position: fixed;
  top: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 16px 8px 16px 8px rgb(0,0,0,0.1);
  padding: 70px 3px 10px 3px;
  /* background-color: red; */
    /* display: none; */

  }
  .Navinputcont{
    position: relative;
    left: 20px;
  }
.expanded{
display: none;
}
  .Navinput input{
    padding: 8px 30px 8px 8px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    
  }

  .flashsalechild{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dataimg{
    width: 89%;
  }
}

@media  (min-width:579px) and (max-width:999px){
  .Navmenu{
    display: block;
    z-index: 1;
    }
  .Navlogo{
    width: 35%;
  }
  .Navchildsearch{
    display: block;
    position: fixed;
    top: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #DDDDDD;
    padding: 70px 3px 10px 3px;
    /* background-color: red; */
      /* display: none; */
  
    }
    .Navinputcont{
      position: relative;
      left: 20px;
    }
  .expanded{
  display: none;
  }
    .Navinput input{
      padding: 8px 30px 8px 8px;
      border-radius: 5px;
      border: 1px solid #DDDDDD;
      
    }
  .flashsalechild{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dataimg{
    width: 89%;
  }
}